/*** UNIVERSAL SELECTOR ***/
	*
	{
		margin: 0;
		font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
		line-height: 32px;
		box-sizing: border-box;
	}

/*** ELEMENT-WIDE STYLING ***/
	.img
	{
		width: 100%;
	}

	h3
	{
	    font-size: 1.25rem;
	}

	i
	{
		font-size: 28px !important;
	}

	a
	{
		color: white;
	}

	i
	{
		color: black;
	}

	a:hover, i:hover
	{
		color: #FE5D26;
	}

/*** NAVIGATIONAL MENU ***/
	nav a
	{
		font-family: Gilroy-Medium;
		letter-spacing: 0.03em;
		font-size: 1.1rem;
		line-height: 32px;
	}

/*** HERO SECTION ***/
	.hero-text
	{
	    padding-left: 150px;
	    font-size: 56px;
		line-height: 80px;
		letter-spacing: 0.03em;
	}

	.hero-btn
	{
		border-radius: 0;
		font-size: 20px;
		line-height: 32px;
		letter-spacing: 0.03em;
		padding: 2% 7%;
	}

/*** SHOOTS SECTION ***/
	.short-line
	{
		width: 40%;
	    border: 3px solid #FE5D26;
	    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	}

	.long-line
	{
		/*width: 90%;*/
	    border: 3px solid #FE5D26;
	    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	}

	.line-name-bar
	{
		width: 90%;
	}

	.name-pill
	{
		background: #FE5D26;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	    width: fit-content;
	    border-radius: 10px;
	    position: absolute;
	    top: 10%;
	}

	.name-pill2
	{
		background: #FE5D26;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	    width: fit-content;
	    border-radius: 10px;
	    position: absolute;
	    top: 10%;
        left: 70%;
	}

/*** SERVICES SECTION ***/
	.medium-line
	{
	    border: 3px solid #FE5D26;
	    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	}

	.service-btn
	{
		font-weight: 500;
		font-size: 20px;
		line-height: 32px;
		letter-spacing: 0.03em;
	}

/*** PHOTOGRAPHERS SECTION ***/
	.photo-title
	{
	    font-size: 1.6rem;
	}

	.polaroid
	{
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	}

	.name
	{
		font-weight: 300;
		font-size: 24px;
		line-height: 32px;
	}

/*** FOOTER SECTION ***/
	.social-icon-box
	{
	    border-radius: 0px 10px 0px 0px;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    margin-left: -68px;
	    padding: 10% 20%;
	}	

/*** COLORS ***/
	.bg-black
	{
		background-color: #1D1D1D;
	}


	.bg-black2
	{
		background-color: #181818;
	}
